.card-container {
  /* grid-area: card; */
  margin-top: 1rem;
  cursor: pointer;
}
.card-header > h2 {
  font-family: Poppins;
  font-size: 10.24px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #222222;
}
.card-header {
  width: 70px;
  height: 20px;
  position: relative;
  left: 1rem;
  top: 2rem;
  line-height: 30px;
  border-radius: 10%;
  background: #ffffff;
}
.card-image {
  border-radius: 5%;
  opacity: 0px;
  width: 14rem;
  height: 18rem;
}

.card-stats {
  display: flex;
  gap: 0.5rem;
  padding-top: 5px;
  color: #918e9b;
  font-size: large;
  font-weight: 450;
  padding-bottom: 5px;
}
.rating {
  color: #222222;
  font-weight: 500;
}
.price {
  font-weight: 600;
}

/* @media (max-width: 700px) {
  .card-container {
    padding-left: 1.7rem;
  }
} */
