.App-footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  background-color: rgb(31, 31, 49);
  padding: 1.5rem;
}
.App-link {
  color: #00e1ff;
  text-decoration: none;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  text-shadow: 0 0 2px #000000;
  transition: color 500ms;
}
