.App-header {
  grid-area: header;
  background-color: rgb(31, 31, 49);
  padding: 0.5rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
  padding-right: 1rem;
}
.nav-link > a {
  transition: color 500ms;
}
.App-logo {
  height: 4.5em;
  padding: 1rem;
  will-change: filter;
  transition: filter 500ms;
}
.App-logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
  animation: logo-spin 1s infinite forwards linear;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo.react:hover {
    animation: logo-spin infinite 20s linear;
  }
}
