.App-header {
  display: flex;
  align-items: center;
  flex: 0.5;
  background-color: rgb(31, 31, 49);
  border-radius: 5px;
  padding: 0px;
}
.App-header > h1:hover {
  filter: drop-shadow(0 0 2em #00e1ff);
}
.App-logo {
  height: 4.5em;
  padding: 1em;
  will-change: filter;
  transition: filter 500ms;
}
.App-logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.App-logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
  animation: logo-spin 1s infinite forwards linear;
}
