.main-container {
  grid-area: main;
  display: grid;
  grid-template-columns: minmax(1fr, auto);
  grid-template-areas:
    'hero '
    'card ';
  padding: 3rem;
}

@media (max-width: 400px) {
  .main-container {
    grid-template-columns: minmax(1fr, auto);
    grid-template-areas:
      'hero '
      'card ';
    column-gap: 15px;
  }
}
@media (min-width: 500px) {
  .main-container {
    grid-template-columns: minmax(1fr, auto);
    grid-template-areas:
      'hero hero'
      'card card';
    column-gap: 15px;
  }
}

@media (min-width: 700px) {
  .main-container {
    grid-template-columns: minmax(1fr, auto);
    grid-template-areas:
      'hero hero hero'
      'card card card';
    column-gap: 15px;
  }
}
@media (min-width: 945px) {
  .main-container {
    grid-template-columns: minmax(1fr, auto);
    grid-template-areas:
      'hero hero hero hero'
      'card card card card';
    column-gap: 15px;
  }
}
@media (min-width: 1500px) {
  .main-container {
    grid-template-columns: minmax(1fr, auto);
    grid-template-areas:
      'hero hero hero hero hero hero'
      'card card card card card card';
    column-gap: 15px;
  }
}
