.main-container {
  grid-area: main;
  display: grid;
  grid-template-columns: minmax(1fr, auto);
  /* grid-template-rows: 1fr; */
  grid-template-areas:
    'hero hero hero hero hero'
    'card card card card card';
  padding: 2.5rem;
}

@media (max-width: 1200px) {
  .main-container {
    grid-template-columns: minmax(1fr, auto);
    /* grid-template-rows: minmax(1fr, auto); */
    grid-template-areas:
      'hero hero hero'
      'card card card';
    column-gap: 15px;
  }
}
