.card {
  max-width: 800px;
  padding: 2rem;
  padding-top: 3rem;
  background-color: rgb(53, 53, 63);
  color: #ffffff;
  font-size: 1rem;
  font-weight: lighter;
  border-radius: 5px;
  margin-bottom: 5rem;
}

ul {
  margin: 0;
  padding-left: 2.5rem;
}
li {
  margin: 0.5rem 0;
  text-shadow: 0 0 2px #000000;
  font-size: 1.25rem;
}
li::marker {
  color: #05dbf9;
}
